@use '../../utils/functions/' as *;
@use '../../utils/mixins/' as *;


.choose {
  padding: 84px 0;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    position: relative;
    h2 {
      margin: 0;
    }

    .btn {
      white-space: nowrap;
      padding: 20px 48px;
      max-width: 174px;
      border: 1px solid var(--color-blue-200);
      background: #fff;
      color: var(--color-blue-900);
    }

    &::after {
      content: '';
      position: absolute;
      top: -104px;
      right: -50px;
      background-image: url('../images/home/rhombuse.png');
      background-repeat: no-repeat;
      background-size: cover;
      width: 71px;
      height: 80px;
    }
  }

  p {
    font-size: 22px;
    margin-bottom: 60px;
    font-weight: 600;
    width: 100%;
    letter-spacing: -1px;
  }

  &__items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(384px, 1fr));
    gap: 96px 32px;
  }

  &__item{
    position: relative;

    h3 {
      margin-top: 128px;
      margin-bottom: 12px;
      color: var(--color-brown-850);
      text-align: center;
    }

    p {
      font-family: "Inter", sans-serif;
      font-variation-settings: "slnt" 0;
      font-size: 18px;
      margin-bottom: 0;
      font-weight: 400;
      letter-spacing: 0px;
    }

    &::after {
      content: '';
      position: absolute;
      width: 100px;
      height: 104px;
      background-repeat: no-repeat;
      background-size: contain;
      top: 0;
      left: 50%;
      transform: translate(-50%);
    }
    &:nth-child(1) {
      &::after {
        content: '';
        background-image: url('../images/home/expertise.png');
      }
    }
    &:nth-child(2) {
      &::after {
        content: '';
        background-image: url('../images/home/reliability.png');
      }
    }
    &:nth-child(3) {
      &::after {
        content: '';
        width: 123px;
        background-image: url('../images/home/performance.png');
      }
    }
    &:nth-child(4) {
      &::after {
        content: '';
        width: 119px;
        height: 100px;
        background-image: url('../images/home/customer.png');
      }
    }
    &:nth-child(5) {
      &::after {
        content: '';
        width: 97px;
        height: 100px;
        background-image: url('../images/home/customized.png');
      }
    }
    &:nth-child(6) {
      &::after {
        content: '';
        width: 93px;
        height: 100px;
        background-image: url('../images/home/security.png');
      }
    }
  }

  @include media(desktop-wide) {
    &__header {
      &:after {
        right: -25px;
      }
    }
  }
  @include media(desktop) {
    &__header {
      &:after {
        display: none;
      }
    }
  }
  @include media(mobile-m) {
    padding: 40px 0;
    &__header {
      flex-direction: column;
      gap: 20px;
      .btn {
        max-width: unset;
      }
    }
    &__items{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 64px 32px;
    }
  }
}


