@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.contact {
  padding: 86px 0 84px;
  &-us {
    padding-top: 206px;
  }
  &__wrapper {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
  }

  &__form {
    padding: 39px 32px;
    border: 1px solid var(--color-blue-200);
    box-shadow: 0px 4px 40px 0px rgba(43, 89, 255, 0.08);
    border-radius: var(--radius-btn);
    width: 100%;
  }

  h2 {
    margin: 0;
    margin-bottom: 48px;
    color: #555555;
  }

  label {
    display: block;
    margin-bottom: 16px;
    &:last-of-type {
      margin-bottom: 24px;
    }
  }

  input,
  textarea {
    font-family: "Inter", sans-serif;
    font-variation-settings:"slnt" 0;
    border-color: transparent;
    border-radius: var(--radius-btn);
    padding: 16px;
    width: 100%;
    color: var(--color-brown-850);
    background-color: var(--color-white-100);
    font-size: 16px;
    &::placeholder {
      color: var(--color-brown-850);
    }
  }

  textarea {
    min-height: 156px;
    resize: none;
  }

  .btn {
    max-width: 177px;
    padding: 8px 28px;
    background-color: var(  --color-blue-650);
  }


  @include media(tablet) {
    padding: 40px 0 60px;
    &__wrapper {
      flex-direction: column;
    }
    &__form {
      max-width: unset;
    }

  }

}
