@use "../utils/functions/"as*;
@use "../utils/mixins"as*;

.policy {
  padding: 161px 0 86px;


  &__content {
    margin-bottom: 48px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  h1 {
    font-size: 64px;
    line-height: 1.2;
    margin: 0 auto 48px;
    color: var(--color-brown-medium);
  }

  h2 {
    margin-bottom: 24px;
    font-size: 32px;
  }

  p {
    color: var(--color-brown-dark);
    font-size: 18px;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 24px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    text-decoration: underline;
    font-weight: var(--fw-700);
  }
  ul {
    margin: 24px 0;
  }

  li {
    margin-bottom: 5px;
    color: var(--color-brown-dark);
    &:last-child {
      margin-bottom: 0;
    }
  }

  @include media(tablet) {
    padding: 60px 0;
  }

  @include media(mobile-m) {
    h1 {
      font-size: 44px;
    }
  }
  @include media(mobile-l) {
    h1 {
      margin-bottom: 30px;
      text-align: center;
    }
  }
}