@use "../utils/functions/"as*;
@use "../utils/mixins"as*;

.policy {
  padding: 206px 0 86px;
  &-privacy {
    .policy__content {
      &:nth-child(n+3) {
        background-color: #F3F5F7;
      }
    }
  }
  &__content {
    margin-bottom: 48px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  h1 {
    margin-bottom: 48px;
  }

  h2 {
    margin: 0;
    margin-bottom: 24px;
    font-size: 22px;
    letter-spacing: -1px;
    color: var(--color-blue-600);
  }

  p {
    color: var(--color-blue-900);
    font-size: 20px;
    letter-spacing: 0;
    margin-bottom: 24px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    text-decoration: underline;
    font-weight: var(--fw-700);
  }
  ul {
    margin: 24px 0;
  }

  li {
    font-size: 20px;
    margin-bottom: 30px;
    span {
      font-weight: 800;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  @include media(tablet) {
    padding: 180px 0 60px;
  }

  @include media(mobile-m) {
    h1 {
      font-size: 44px;
    }
  }
  @include media(mobile-l) {
    h1 {
      margin-bottom: 30px;
      text-align: center;
    }
  }
}