@use '../../utils/functions/' as *;
@use '../../utils/mixins/' as *;

.client {
  padding: 84px 0;
  h2 {
    margin-bottom: 40px;
    text-align: center;
  }

  h3 {
    color: #000;
    margin-left: 24px;
    margin-bottom: 20px;
  }

  &__description {
    padding: 25px 24px;
    border-radius: var(--radius-main);
    background-color: var(--color-blue-100);
  }
  &__slide {
    &:nth-child(3), &:nth-child(4) {
      .client__description {
        padding: 36px 24px;
      }
    }
     &:nth-child(4) {
      .client__description {
        padding: 25px 24px;
      }
    }
  }

  @include media(tablet-wide) {
    &__description {
      min-height: 270px;
    }
  }
  @include media(mobile-l) {
    &__description {
      min-height: 190px;
    }
  }
  @include media(mobile-m) {
    padding: 40 0;
    &__description {
      min-height: 220px;
    }
  }
  @include media(mobile-s) {
    padding: 40 0;
    &__description {
      min-height: 280px;
    }
  }

}