@use '../../utils/functions/' as *;
@use '../../utils/mixins/' as *;


.team {
  padding: 80px 0;
  background-color: #E1EFFF;
  h2 {
    color: #181818;
    margin-bottom: 60px;
  }

  &__slide {
    display: flex;
    gap: 28px;
    img {
      max-width: 320px;
      width: 100%;
      border-radius: var(--radius-main);
    }
    h3 {
      color: #000;
      margin-bottom: 20px;
    }
    p {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

}