@use "../../utils/functions/"as*;
@use "../../utils/mixins/"as*;

.customized {
  padding: 85px 0 80px;

  h2 {
    position: relative;
    margin-bottom: 48px;
    overflow: visible;
    &:after {
      content: '';
      position: absolute;
      width: 62px;
      height: 60px;
      top: -6px;
      right: -110px;
      background-image: url('../images/services/customized.png');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  h3 {
    font-family: var(--font-family-secondary);
    font-variation-settings: "slnt" 0;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 0.5px;
    color: #181818;
    margin-bottom: 8px;
  }
  p {
    font-family: var(--font-family-secondary);
    font-variation-settings: "slnt" 0;
    font-size: 14px;
    line-height: 1.6;
  }
  &__card-content {
    background-color: var(--color-blue-100);
    padding: 24px;
    min-height: 255px;
  }

  @include media(tablet-wide) {
    &__card {
      &:nth-child(3) {
        grid-column: span 2;
        .card-content {
          min-height: unset;
        }
      }
    }
  }

  @include media(mobile-l) {
    padding: 40px 0;
    h2 {
      &::after {
        top: -9px;
        right: -70px;
        width: 52px;
        height: 50px;
      }
    }
    &__card {
      &:nth-child(3) {
        grid-column: unset;
      }
    }
  }
  @include media(mobile-m) {
    h2 {
      margin-bottom: 28px;
      max-width: 250px;
      &::after {
        top: 18px;
        right: -15px;
      }
    }

  }
}